body{
   font-family: Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: #007aff;
    min-width: 320px;
    position: relative;
    margin:auto;
}
.generalRules{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.height{
    height: 700px;
}
.blocSize{
    width: 450px;
    text-align: center;
}
h1{
    font-size:64px;;

}
h2
{
    font-size: 48px;

}
h3{
    font-size: 30px;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}
a:hover{
    color: #fcec03;
    font-size: 31px;
}
.tdL{
    border-left:2px solid #FFFFFF;
    padding-left: 10px;
    text-align: start;
}
.tdR{
    border-right:2px solid #FFFFFF;
    padding-right: 10px;
    padding-bottom: 40px;
    text-align: end;
    
}
.tdR:hover
{
  color: #fcec03;
  font-size: 31px;
    
}
.li:hover
{
  color: #fcec03;
  font-size: 31px;
    
}
table
{
    border-spacing: 0px;
    font-size: 30px;
   
}
ul
{
    list-style-type: square;
}
td{
    width: 400px;
}
.pollMain{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.pollBlock{
    width: 60%;
    border-left:solid 4px rgba(252, 254, 255, 0.3) ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: pre-wrap;

}
.pollTopic{
    background-color: #FFFFFF;
     width: 100px; 
     height: 55px;
     box-shadow: 3px 3px 12px rgb(21, 21, 21);
}
.pollImg{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.resDetail{
    border-left: solid 2px #FFFFFF;
    padding: 30px 10px 30px 0px ;
    box-sizing: border-box;
    text-align: start;
    font-size: 20px;
    line-height: 1.7;
/*     width: 800px; */
    margin-left: 10%;
}
.resCentral{
    width: 57%;
    text-align: start;
    font-size: 27px;

}
.resTopic{
width: 60%

}
.positionCenter{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.PositionStart{
    display: flex;
    justify-content: start;
    align-items: center;   
}
.PositionEnd{
    display: flex;
    justify-content: end;
    align-items: center;
}
.text{
    margin-left: 15px;
    font-size: 25px;
}
.topMargin{
    margin-top: 150px;
}
.up:hover{
    width: 70px;
    height: 70px;
}
._f8Ueuq {
    background-color: #fff;
    border-radius: 50%;
    /* bottom: 8.6875rem; */
    box-shadow: 0 .3125rem .9375rem -.1875rem rgba(0,0,0,.15);
    cursor: pointer;
    height: 56px;
    position: absolute;
    right: 25.24rem;
    width: 56px;
    z-index: 38;
    opacity: 0.8;
    }

    ._f8Ueuq:before {
        border-left: 2px solid #c2c2c2;
        border-top: 2px solid #c2c2c2;
        content: "";
        height: 12px;
        left: calc(50% - 6px);
        position: absolute;
        top: calc(50% - 2px);
        transform: rotate(45deg);
        transition-duration: .3s;
        width: 12px;
        }
    ._f8Ueuq:hover{
        width: 76px;
        height: 76px;
        opacity: 0.6;

    }
    .footerH{
        height: 100px;
        margin: 40px 0px ;
       
    }
    .fds:hover{
        width: 50px;
        height: 50px;
    }
